body {
    text-align: center;
    background: url("https://i.ibb.co/wWSpq5b/download.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;

}
h1 {
    text-align:center;
    color:black;   
}
p {
    text-align:center;
    font-size: 22px;
}